# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments (uv/pip)
.venv/
venv/
env/
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Tooling
.ruff_cache/
.mypy_cache/
.pytest_cache/

# OS and Editors
.DS_Store
.vscode/
.idea/

# Excel temporary files
~$*.xlsx

# Local Python version
.python-version
